<a href="https://colab.research.google.com/github/darshannayak21/pds/blob/main/exp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/darshannayak21/pds.git

Cloning into 'pds'...
remote: Enumerating objects: 4, done.
remote: Counting objects: 100% (4/4), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 4 (delta 0), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (4/4), 92.77 KiB | 2.26 MiB/s, done.

Download 2 datasets
Import neccessary libraries( here numpy & pandas )
Read the two CSV files
Merge the two datasets on two common columns present in the two daatsets using the in built merge() function in python
Concat the two datasets using the concat funtion in python

In [1]:
import pandas as pd


url1 = "/content/sample_data/california_housing_test.csv"
url2 = "/content/sample_data/california_housing_train.csv"
dataset = pd.read_csv(url1)
dataset2 = pd.read_csv(url2)
dataset_sample=dataset.sample(n=5, random_state=42)
print(dataset_sample)
dataset_sample2=dataset2.sample(n=5, random_state=30)
print(dataset_sample2)
con_dataset = pd.concat([dataset, dataset2])
#print(con_dataset.head())
con_datasetsample = pd.concat([dataset_sample, dataset_sample2])
print(con_datasetsample)
#merged
merged_dataset = pd.merge(dataset, dataset2, on='longitude')
print(merged_dataset)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
1801    -121.68     37.93                44.0       1014.0           225.0
1190    -117.28     34.26                18.0       3895.0           689.0
1817    -122.10     37.61                35.0       2361.0           458.0
251     -118.29     33.88                36.0       1751.0           438.0
2505    -118.40     33.99                39.0       1613.0           380.0

      population  households  median_income  median_house_value
1801       704.0       238.0         1.6554            119400.0
1190      1086.0       375.0         3.3672            133600.0
1817      1727.0       467.0         4.5281            173600.0
251       1175.0       419.0         3.0739            218600.0
2505      1113.0       356.0         2.8250            276700.0
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
10914    -120.85     37.51                 5.0       2899.0           745.0
6241     -118.25     34.23                37.0       1954.0           368.0
5904     -118.20     33.79                47.0       2549.0           626.0
9578     -119.35     36.52                39.0       3027.0           608.0
9444     -119.25     34.30                34.0       1189.0           220.0

       population  households  median_income  median_house_value
10914      1593.0       633.0         2.2292            127500.0
6241        967.0       370.0         5.0862            261300.0
5904       1388.0       606.0         3.0135            192700.0
9578       2199.0       592.0         2.6445             62000.0
9444        445.0       203.0         4.8824            396400.0
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
1801     -121.68     37.93                44.0       1014.0           225.0
1190     -117.28     34.26                18.0       3895.0           689.0
1817     -122.10     37.61                35.0       2361.0           458.0
251      -118.29     33.88                36.0       1751.0           438.0
2505     -118.40     33.99                39.0       1613.0           380.0
10914    -120.85     37.51                 5.0       2899.0           745.0
6241     -118.25     34.23                37.0       1954.0           368.0
5904     -118.20     33.79                47.0       2549.0           626.0
9578     -119.35     36.52                39.0       3027.0           608.0
9444     -119.25     34.30                34.0       1189.0           220.0

       population  households  median_income  median_house_value
1801        704.0       238.0         1.6554            119400.0
1190       1086.0       375.0         3.3672            133600.0
1817       1727.0       467.0         4.5281            173600.0
251        1175.0       419.0         3.0739            218600.0
2505       1113.0       356.0         2.8250            276700.0
10914      1593.0       633.0         2.2292            127500.0
6241        967.0       370.0         5.0862            261300.0
5904       1388.0       606.0         3.0135            192700.0
9578       2199.0       592.0         2.6445             62000.0
9444        445.0       203.0         4.8824            396400.0
        longitude  latitude_x  housing_median_age_x  total_rooms_x  \
0         -122.05       37.37                  27.0         3885.0
1         -122.05       37.37                  27.0         3885.0
2         -122.05       37.37                  27.0         3885.0
3         -122.05       37.37                  27.0         3885.0
4         -122.05       37.37                  27.0         3885.0
...           ...         ...                   ...            ...
152545    -119.63       34.42                  42.0         1765.0
152546    -119.63       34.42                  42.0         1765.0
152547    -119.63       34.42                  42.0         1765.0
152548    -119.63       34.42                  42.0         1765.0
152549    -119.63       34.42                  42.0         1765.0

        total_bedrooms_x  population_x  households_x  median_income_x  \
0                  661.0        1537.0         606.0           6.6085
1                  661.0        1537.0         606.0           6.6085
2                  661.0        1537.0         606.0           6.6085
3                  661.0        1537.0         606.0           6.6085
4                  661.0        1537.0         606.0           6.6085
...                  ...           ...           ...              ...
152545             263.0         753.0         260.0           8.5608
152546             263.0         753.0         260.0           8.5608
152547             263.0         753.0         260.0           8.5608
152548             263.0         753.0         260.0           8.5608
152549             263.0         753.0         260.0           8.5608

        median_house_value_x  latitude_y  housing_median_age_y  total_rooms_y  \
0                   344700.0       39.34                  44.0         1064.0
1                   344700.0       38.56                  20.0         1005.0
2                   344700.0       38.26                  32.0         1070.0
3                   344700.0       38.25                  39.0          199.0
4                   344700.0       38.25                  37.0         1336.0
...                      ...         ...                   ...            ...
152545              500001.0       36.35                   4.0         1684.0
152546              500001.0       36.34                  26.0         1463.0
152547              500001.0       36.33                  14.0         2928.0
152548              500001.0       36.18                  23.0          207.0
152549              500001.0       34.40                  29.0         3865.0

        total_bedrooms_y  population_y  households_y  median_income_y  \
0                  230.0         494.0         175.0           2.8750
1                  168.0         457.0         157.0           5.6790
2                  199.0         631.0         195.0           2.6827
3                   36.0         101.0          38.0           6.2299
4                  251.0         680.0         231.0           3.8150
...                  ...           ...           ...              ...
152545             343.0         920.0         324.0           4.2396
152546             261.0         699.0         219.0           3.5536
152547             600.0        1633.0         559.0           1.8385
152548              45.0         171.0          50.0           2.4286
152549             814.0        1266.0         613.0           6.0069

        median_house_value_y
0                    61500.0
1                   225000.0
2                    98900.0
3                   105400.0
4                    99000.0
...                      ...
152545               90600.0
152546               71400.0
152547               67500.0
152548              100000.0
152549              500001.0

[152550 rows x 17 columns]