<a href="https://colab.research.google.com/github/darshannayak21/pds/blob/main/exp_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


SKILL expriment 2:

Imoprting neccessary libraries (like pandas and numpy here)
Import the two datasets.
Perform data cleaning process: 1. Remove all the null values from the merged and concatinated data. 2. Find information of the data by the .info () function in python. 3. Describe the datasets using .describe() function in python. 4. Check whether there exist any null or missing values in the datasets by using .isnull().any() function. 5. Check for duplicate values in the datasets if any using .duplicated() function. 6. Drop the duplicate values from the datasets using the drop_duplicates() function. 7. Fill the missing values (null values) with some value . 8. Count the non-null values from any particular column from any dataset by specifying the column name.

In [1]:
import pandas as pd


url1 = "/content/sample_data/california_housing_test.csv"

dataset1 = pd.read_csv(url1)

#conc_data= pd.concat([dataset1,dataset2])

print("info")
print(dataset1.info())

print("describe")
print(dataset1.describe())

print("IS NULL any")
print(dataset1.isnull().any())
print("isnullsum")
print(dataset1.isnull().sum())
print("duplicated")
print(dataset1.duplicated())
print("drop duplicates")
print(dataset1.drop_duplicates(inplace=True))
print("DROPNA")
print(dataset1.dropna(inplace=True))

info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB
None
describe
         longitude    latitude  housing_median_age   total_rooms  \
count  3000.000000  3000.00000         3000.000000   3000.000000
mean   -119.589200    35.63539           28.845333   2599.578667
std       1.994936     2.12967           12.555396   2155.593332
min    -124.180000    32.56000            1.000000      6.000000
25%    -121.810000    33.93000           18.000000   1401.000000
50%    -118.485000    34.27000           29.000000   2106.000000
75%    -118.020000    37.69000           37.000000   3129.000000
max    -114.490000    41.92000           52.000000  30450.000000

       total_bedrooms    population  households  median_income  \
count     3000.000000   3000.000000  3000.00000    3000.000000
mean       529.950667   1402.798667   489.91200       3.807272
std        415.654368   1030.543012   365.42271       1.854512
min          2.000000      5.000000     2.00000       0.499900
25%        291.000000    780.000000   273.00000       2.544000
50%        437.000000   1155.000000   409.50000       3.487150
75%        636.000000   1742.750000   597.25000       4.656475
max       5419.000000  11935.000000  4930.00000      15.000100

       median_house_value
count          3000.00000
mean         205846.27500
std          113119.68747
min           22500.00000
25%          121200.00000
50%          177650.00000
75%          263975.00000
max          500001.00000
IS NULL any
longitude             False
latitude              False
housing_median_age    False
total_rooms           False
total_bedrooms        False
population            False
households            False
median_income         False
median_house_value    False
dtype: bool
isnullsum
longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64
duplicated
0       False
1       False
2       False
3       False
4       False
        ...
2995    False
2996    False
2997    False
2998    False
2999    False
Length: 3000, dtype: bool
drop duplicates
None
DROPNA
None